* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    margin-top: 50px;
    
  }

  h1{
    text-align: center;
    font-style:italic;
  }
  
 
  main {
    padding: 1rem;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
  }
  
  .project-link {
    background-color: #fbfbfb;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #ffffff;
    margin-top: 5px;
    font-style:italic;
    font-weight: 500;
  }
  
 
  .bi-sun{
    display: none;
  }

  .bi{
    font-size: 20px;
    padding: 4px 8px;
    background-color: white;
    color: black;
    border-radius: 50px;
    position: absolute;
    top: 80px;
    right: 50px;
  }