*{
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 7, 7);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 30px;
}

img{
    width: 700px;
    height: 500px;
    object-fit: cover;
}

.carousel{
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 540px;
    width: 700px;
    overflow: hidden;
}

.img-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rebeccapurple;
     color: #fff;
     border: none;
     padding: 0.5rem;
     cursor: pointer;
     width: 100%;
     border-radius: 50px;
     margin: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}