*{
    box-sizing: border-box;
    
}
body{
    font-family:  'Lato', sans-serif;
    background-color: #333;
    color: #222;
    margin: 0;
    overflow-x: hidden;
    
}


.container{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    
    
}
.container.show-nav{
    transform: rotate(-20deg);
}

/*---------------------circle1--------------------*/
.hide{
    display: none;
}

.circle-container1{
    position:fixed;
    top: -100px;
    left: -100px;
    z-index: 500;

}

.circle{
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
   
}


.circle button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 60%;
    height: 100px;
    background: transparent;
    border: none;
    font-size: 26px;
    color: #fff;

}
.circle button:focus{
    outline: none;
}



/*--------------------circle2-----------------------------------*/



.circle-container2{
    position:fixed;
    top: -100px;
    left: -100px;
    z-index: 500;

}
.circle2{
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    
   
}


.circle2 button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 60%;
    height: 100px;
    background: transparent;
    border: none;
    font-size: 26px;
    color: #fff;

}
.circle2 button:focus{
    outline: none;
}







.container.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav{
    position:fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li{
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transfrom 0.4s ease-in;
}

nav ul li i{
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);
}
nav a{
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
}

nav a:hover{
    color: #FF7979;
    font-weight: bold;
}

.content img{
    max-width: 100%;
}

.content{
    max-width: 1000px;
    margin: 50px auto;
}

.content h1{
    margin: 0;
}

.content small{
    color: #555;
    font-style: italic;
}

.content p{
    color: #333;
    line-height: 1.5;

}