* {
    box-sizing: border-box;
}

body {
    background-color: #3494e4;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0;
    padding: 30px;
}

h1 {
    margin: 10px 0 0;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}

.cup {
    background-color: #fff;
    border: 4px solid rgb(62, 62, 179);
    color: #3494e4;
    border-radius: 0 0 40px 40px;
    
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

p {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 400;
}

.cup.cup-small {
    width: 50px;
    height: 95px;
    margin: 5px;
    font-size: 14px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    

    justify-content: center;
    text-align: center;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    cursor: pointer;
    transition: 0.3s ease;
}

.cup.cup-small.full{
    background-color: #6ab3f8;
    color: #fff;
}


.cups {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    flex-wrap: wrap;
}

.remained{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex:1;
    transition: 0.3s ease;
}

.remained span{
    font-size: 20px;
    font-weight: bold;
}

.remained small{
    font-size: 12px;
}

.percentage{
    background-color:#6ab3f8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    height: 0px;
    transition: 0.3s ease;
}

.text{
    text-align: center;
    margin: 0 0 5px;
}